/*
Mike Thorpe 17-06-2018
*/

/*
global rules--------------------------------------------------------------------
*/

/*
apply no margin and padding to all elements
*/
* {
margin: 0;
padding: 0;
}

body {
  font-family: futura, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  /* light grey - makes reading easier on the eyes */
  background-color: #f4f4f4;

  color: #434447;


}

.container {

  /* Width of the container is 80% of the parent */
  width: 85%;
  /* prevent content overflowing out of div container */
  overflow: hidden;

  /* sets margin to be equal on both sides - centres the container in its'
  parent*/
  margin: auto;

}

/*
local rules---------------------------------------------------------------------

/*
  Center notes:
  * For block elements - set their margin to auto
  * For inline and inline block elements, set text-align to center in
    their parent
*/


/*
 header rules
 */

 header {

   background-color: #5B6C7E;

   /*border properties*/
   border-bottom: solid;
   border-width: 6px;
   border-bottom-color: #b3754d;

   padding-top: 10px;
   /* prevent header shrinking below content height when browser resized */
   min-height: 80px;
   overflow: auto;
 }

header .branding {
  display: inline-block;
  float: left;
}

header h1 {
  text-align: center;
  color: #20262c;
}

header .style-mt {
  font-weight: bold;
}

header nav {
  display: inline-block;
  font-weight: 400;
  float: right;
  margin-top: 14px;

}


header ul {
  text-align: center;
}

header li {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-size: 18px;
  /*padding: 3px 3px 3px 3px;*/


}


header nav a {
  text-decoration: none;
  color: white;
}

/* hover effects for links in header */
header nav a:hover {
  color: #b3754d;
}

header .current-page {
  color: #b3754d;
}
/* showcase section rules */
.showcase {

  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: 400px;

}

.showcase .container {
  position: relative;
  top: 50px;
}



@media screen and (max-device-width : 375px)
{
  .showcase .container .textoverlay p {
    font-size: 35px;

  }
}

@media screen and (min-device-width : 376px)
{
  .showcase .container .textoverlay p {
    font-size: 45px;
  }
}

.showcase .container .textoverlay {
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 0.3em;
  letter-spacing: 0.2em;
  opacity: 0.8;
}

/* showcase backgrounds and properties - id dependent, unique to .html page */
#homeshowcase {
  background-image: url("../images/lammermuir.jpg");
}

#codeshowcase {
  background-image: url("../images/code.jpg");
}

#contactshowcase {
  background-image: url("../images/caterpillar_bivvy.jpg");
}

#contactshowcase p {
  color: #ff6600;
}

#contact-tagline {
  font-size: 23px;
}

/* main article rules */
article {
margin-top: 13px;

}

article p {
  padding-top: 8px;
  padding-bottom: 8px;

}

.post {
text-align: center;
}

.post-image {
  margin: auto;
  width: 85%;
  min-width: 150px;
  height: auto;
  overflow: hidden;
}

.post img {
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 100%;
}

.post-content {
  width: 75%;
  display: inline;
  overflow: hidden;
}

/* footer rules */

footer {
  font-size: 14px;
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
}

footer .container {
  text-align: right;
}
footer .container p {
  color: #798486;
}
